## Import Section

In [995]:
import pandas as pd
import numpy as np 
import time
from datetime import datetime
from datetime import date
import os
import glob

## Config Section

In [996]:
#MSC
path = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
ruta_general = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
dataframes = []


# Udemy progress MSC
path_udemy_course_activity = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Udemy_msc/User_course_activity/'
# Udemy users MSC
path_udemy_user_activity = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Udemy_msc/User_activity/'


# Udemy progress OKTA
#path_udemy_course_activity = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Udemy_okta/User_course_activity/'


#Netzun progress
path_netzun_report_full_students = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Netzun/report_full_students/'
#Netzun users

In [997]:
today = date.today()
d1 = today.strftime("%m-%d-%Y")

## Functions Section

In [998]:
def get_concatenated_files_msc(path, folder_name = 'Learner_overview', file_name= 'learner-overview', file_type = '.csv'):
    # path = Contains the path: "C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting"
    # folder_name = Name of the folder that contains the files
    # file_name = common part of the file to search
    # file_type = extension of the file: .csv, .xls, .xlsx
    dataframes = []
    for client_folder in os.listdir(path):
        path_cliente = os.path.join(path, client_folder, folder_name)
        if os.path.isdir(path_cliente):
            files = glob.glob(os.path.join(path_cliente, f'*-{file_name}-*{file_type}'))
            if files:
                # ordenar los archivos por la fecha en su nombre
                files.sort(key=lambda x: x.split(f'-{file_name}-')[-1], reverse=True)
                # abrir el archivo más reciente y cargarlo en un dataframe
                df = pd.read_csv(files[0])
                df = df.dropna(axis=0, how='all')
                df = df.dropna(axis=1, how='all')
                df['Cliente'] = client_folder
                # extract the date from the filename
                date_str = files[0].split(f'-{file_name}-')[1].split('-')[0:3]
                date_str = '-'.join(date_str)
                date = datetime.strptime(date_str, "%Y-%m-%d")
                df['fecha_archivo'] = date.date()
                # agregar el dataframe a la lista
                dataframes.append(df)
    df_final = pd.concat(dataframes)
    return df_final

In [999]:
def get_last_file(path, file_name, file_type, date_format = "%Y-%m-%d"):
    # Buscar todos los archivos que coinciden con el patrón en el directorio
    files = glob.glob(os.path.join(path, f'{file_name}_*{file_type}'))
    
    if not files:
        return None     # No se encontraron archivos
    
    # Ordenar los archivos por fecha y seleccionar el último
    files.sort(key=lambda x: datetime.strptime(x.split(f'{file_name}_')[-1].split('.')[0], date_format), reverse=True)
    
    # Lee el archivo en un pandas DataFrame
    if file_type == '.csv':
        df = pd.read_csv(files[0])
    elif file_type in ['.xlsx', '.xls']:
        df = pd.read_excel(files[0])
    else:
        print('File type not supported')
        return None

    return df  # Devuelve el DataFrame

## Get Dataframes

### Progreso dataframes

In [1000]:
df_progreso_msc = get_concatenated_files_msc(path = path, folder_name = 'Learner_engagement', file_name= 'learner-engagement')
df_progreso_msc.head(1)

In [ ]:
df_progreso_udemy = get_last_file(path_udemy_course_activity, file_name= 'user_course_activity_report_griky-myskillcamp', file_type='.csv')
#df_progreso_udemy = get_last_file(path_udemy_course_activity, file_name= 'user_course_activity_report_griky-okta', file_type='.csv')
df_progreso_udemy.sample(10).head(1)

,User First Name,User Last Name,User Email,External ID,User Groups,Course ID,Course Title,Course Locale,Course Duration,% Marked Completed,Minutes Video Consumed,Date Enrolled,Date Started,First Date Completed,Date Completed,Date Last Active,Course Category,Assigned,Assigned By,User Is Deactivated
128,Juan Gabriel,Ochoa Rodríguez,juan.ochoa@griky.co,NaN,NaN,1456036,Master en Liderazgo,es_VE,186.0,0.0,0.25,2023-07-06 17:02:35+00:00,2023-07-06 17:02:50+00:00,NaN,NaN,2023-07-06,Leadership,False,NaN,No

In [ ]:
df_progreso_netzun = get_last_file(path_netzun_report_full_students, file_name= 'report_full_students', file_type='.xlsx', date_format= "%m-%d-%Y")
df_progreso_netzun.sample(10).head(1)

,ID,Nombres y Apellidos,Email,Función,Curso,Inscripción del curso,Estado de curso,Lecciones Tomadas/Total Lecciones,Porcentaje de Progreso,Tiempo total,Puntaje Porcentaje,Fecha última lección,Fecha Deadline,Áreas,Código Interno,Filtro
951,729356,Brayan Robert Quispe Quispe,60060997@certus.edu.pe,Usuario,Introducción al mundo de Google Cloud,01/04/2023,No Iniciado,0/15,0%,0:00:00,-,-,01/02/2024,Class-run,NaN,NaN

### Usuarios Dataframes

In [ ]:
df_usuarios_msc = get_concatenated_files_msc(path = path, folder_name = 'Learner_overview', file_name= 'learner-overview')
df_usuarios_msc.sample(1).head(1)

C:\Users\evanm\AppData\Local\Temp\ipykernel_17676\3943988448.py:15: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(files[0])
C:\Users\evanm\AppData\Local\Temp\ipykernel_17676\3943988448.py:15: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(files[0])

,ID Learner,External ID Learner,Last Name,First Name,Email Address,Job Title,Department,City,Manager,Start date access,...,Last connection date,Camp Access,Registered to a content,Learning time spent (min),Content registrations,Content completions,Certifications obtained,Cliente,fecha_archivo,Current Skills
15217,643873.0,CASSANDRAAMBROISE@ALUMNO.UTESA.EDU,AMBROISE,CASSANDRA,CASSANDRAAMBROISE@ALUMNO.UTESA.EDU,NaN,NaN,NaN,NaN,NaN,...,NaN,"Cegos - Catálogo completo, CLL for Marketplace...",N,0.0,0.0,0.0,0.0,Utesa,2023-09-29,NaN

In [ ]:
df_usuarios_udemy = get_last_file(path_udemy_user_activity, file_name= 'user_activity_report_griky-myskillcamp', file_type='.csv')
df_usuarios_udemy.sample(3)

,User First Name,User Last Name,User Email,External ID,User Groups,User Role,User Is Deactivated,Date Joined,Date of Last Activity,No. of Days Active,No. of New Courses Enrolled,No. of New Courses Started,No. of Courses Completed,Minutes Video Consumed,No. of Lectures Completed,No. of Assigned Courses,No. of Practice Activities Completed
3143,Wadson,Vaval,WADSONVAVAL@alumno.utesa.edu,NaN,NaN,student,No,2023-09-23,2023-09-24,2,3,2,0,33.00,10,0,0
2710,NaN,NaN,gomezivania1993@gmail.com,NaN,NaN,student,No,2023-09-12,2023-09-13,2,1,1,0,6.25,1,0,0
2918,NaN,NaN,emaquillonb@uees.edu.ec,NaN,NaN,student,No,2023-09-19,2023-09-19,1,1,0,0,0.00,0,0,0

## Modify Data Frames

### Config dict

In [ ]:
rename_dic_progreso_udemy = {
    #“old_column_name” : “new_column_name”
    'User First Name' : 'First Name', 
    'User Last Name' : 'Last Name', 
    'User Email' : 'Email Address', 
    #'External ID' : '',
    #'User Groups', 
    'Course ID' : 'Content ID' , 
    'Course Title' : 'Content Title', 
    #'Course Locale',
    'Course Duration' : 'Estimated course duration (min)', #revisar unidades
    '% Marked Completed' : 'Progress (%)', #modify units
    'Minutes Video Consumed' : 'Learning Time (min)', #modify units
    'Date Enrolled' : 'Enrolment Date', #Modify dates format
    'Date Started' : 'Start Date',  #Modify dates format
    #'First Date Completed',
    'Date Completed' : 'Completion Date',  #Modify dates format
    #'Date Last Active', 
    'Course Category' : 'Categories',  
    #'Assigned',
    #'Assigned By', 
    #'User Is Deactivated'


}


rename_dic_progreso_netzun = {
    #“old_column_name” : “new_column_name”
    
    "ID" : "ID Learner",
    'Nombres y Apellidos' : 'Name',
    'Email' : 'Email Address', 
    #'Función' : '', 
    'Curso' : 'Content Title',
    'Inscripción del curso' :  'Enrolment Date', 
    'Estado de curso' : 'Status',
    #'Lecciones Tomadas/Total Lecciones', 
    'Porcentaje de Progreso' : 'Progress (%)' ,  #Modificar unidades
    'Tiempo total' : 'Learning Time (min)' ,    # Pasar a minutos
    #'Puntaje Porcentaje', 
    'Fecha última lección' : 'Date Last Active',
    #'Fecha Deadline', 
    'Áreas' : 'Cliente',  #Modificar nombres para que coincida 
    #'Código Interno', 
    #'Filtro'
}

final_feautres_dic_progreso_udemy = [

    'Email Address', 
    'Content ID' , 
    'Content Title', 
    'Estimated course duration (min)', #revisar unidades
    'Progress (%)', #modify units
    'Status',
    'Learning Time (min)', #modify units
    'Enrolment Date', #Modify dates format
    'Start Date',  #Modify dates format
    'Completion Date',
    'Date Last Active',
    'Categories',
    'Cliente',
    'Catalogo'
]

final_feautres_dic_progreso_netzun = [
    #“old_column_name” : “new_column_name”
    
    "ID Learner",
    'Name',
    'Email Address', 
    'Content Title',
    'Enrolment Date', 
    'Completion Date',
    'Date Last Active',
    'Status',
    'Progress (%)' ,  #Modificar unidades
    'Learning Time (min)' ,    # Pasar a minutos
    'Cliente',  #Modificar nombres para que coincida 
    'Catalogo'
]

final_feautres_dic_progreso_msc = [
    #'ID Learner',
    'Email Address',
    'Content ID', 
    'Content Type',
    #'Training Type', 
    'Content Title', 
    #'Session Title', 
    'Categories', 
    'Camps Published',
    'Content Provider', 
    'Creator', 
    'Trainer(s)', 
    'Creation date',  #Course creation date
    'Last update',    #Course last update
    'Skills', 
    'Language', 
    'Estimated course duration (min)',
    'Status', 
    'Progress (%)', 
    'Learning Time (min)', 
    'Score (%)',
    'Enrolment Date', 
    'Start Date', 
    'Completion Date', 
    'Cliente',
    'Name',
    'Catalogo'
]

In [ ]:
rename_dic_progreso_netzun_cliente = {
    'EANX' : 'Eanx', 
    'UDES' : 'Udes', 
    'UNIR' : 'Unir', 
    'Griky' : 'Griky',
    'ALATA' : 'Alata',
    'Autónoma' : 'Autonoma',
    'EIG' : 'Globali',
    'USAP' : 'Usap',
    'UCPx' : 'Ucpx',
    'INMED' : 'Inmed',
    'UMB' : 'Umb',
    'Insurgentes' : 'Uinsurgentes',
    'UGB' : 'Ugb',
    'Corona' : 'Corona',
    'INCAP' : 'Incap',
    'Class-run' : 'Classrun', 
    'FinT Coach' : 'FinT Coach',   #REVISAR
    'UMA' : 'Uma',
    'UNIBE' : 'Unibe',
    'Teleperformance' : 'Teleperformance',
    'CEIPA' : 'Ceipa',
    'BD Guidance' : 'Bdguidance',
    'Anahuac' : 'Anahuac',
    'UNE' : 'Une',
    'Colsubsidio' :  'Colsubsidio',   #REVISAR
    'UGC' : 'Ugc',
    'UST Plus' : 'SantoTomas',
    'UPARSISTEM' : 'Uparsistem',
    'POLI' : 'Poli',
    'SECORSE' : 'Secorse',
    'Streaming Learning' : 'Streaminglearning',
    'CCB' : 'Ccb',
    'RDITS' : 'RD_ITS',
    'SURA' : 'Sura',
    'Fundación Neón' : 'Holastaff',
    'Buencafé' : 'Buencafe',
    'Jerarquicos' : 'Jerarquicos', 
    'UTMA' : 'Utma',
    'DALTA' : 'Dalta',
    'UTESA' : 'Utesa', 
    'ISTEONLINE' : 'ISTEONLINE',        #REVISAR
    'Sysneo' : 'Central+'
}

### Usuarios MSC

In [ ]:
df_usuarios_msc = df_usuarios_msc[~((df_usuarios_msc['Cliente'] != "Griky" )  & (df_usuarios_msc['Email Address'].str.contains('griky')))]

In [ ]:
usuarios_griky = df_usuarios_msc[df_usuarios_msc['Cliente'] == 'Griky']['Email Address']
not_griky = df_usuarios_msc['Cliente'] != 'Griky'
in_list = df_usuarios_msc['Email Address'].isin(usuarios_griky)
filter_ = not_griky & in_list
df_usuarios_msc = df_usuarios_msc[~filter_]
duplicated_df = df_usuarios_msc[df_usuarios_msc.duplicated(subset='Email Address', keep=False)]
df_usuarios_msc = df_usuarios_msc.drop_duplicates(subset='Email Address', keep='last')
#df_usuarios_msc[ 'Email Address'] = df_usuarios_msc['Email Address'].str.lower().str.strip()
df_usuarios_msc['Email Address'] = df_usuarios_msc['Email Address'].str.lower().str.replace('[^a-zA-Z@.]', '', regex=True)

### Usuarios Udemy MSC

In [ ]:
df_usuarios_udemy.head(1)

,User First Name,User Last Name,User Email,External ID,User Groups,User Role,User Is Deactivated,Date Joined,Date of Last Activity,No. of Days Active,No. of New Courses Enrolled,No. of New Courses Started,No. of Courses Completed,Minutes Video Consumed,No. of Lectures Completed,No. of Assigned Courses,No. of Practice Activities Completed
0,Rafael,Rivas,rafael.rivas@griky.co,NaN,NaN,owner,No,2022-11-04,2023-09-22,4,3,3,0,2.75,2,0,0

In [ ]:
df_usuarios_udemy.shape

(3193, 17)

In [ ]:
df_usuarios_udemy = df_usuarios_udemy.merge(df_usuarios_msc[['Email Address', 'Cliente']], left_on='User Email', right_on= 'Email Address' ,how='left')

### Progreso_msc

In [ ]:
df_progreso_msc['Name'] = df_progreso_msc['First Name'] + " " + df_progreso_msc['Last Name']
df_progreso_msc['Camps Published'] = df_progreso_msc['Camps Published'].str.lower()
df_progreso_msc = df_progreso_msc[df_progreso_msc['Content Type'] != 'External content']
condition_external_catalog = (
        (df_progreso_msc['Content Type'] == 'Pinned content') 
        & 
        (
            (df_progreso_msc['Camps Published'].str.contains('netzun')) | (df_progreso_msc['Camps Published'].str.contains('udemy'))
        )
    )

df_progreso_msc = df_progreso_msc[ ~condition_external_catalog]
df_progreso_msc['Catalogo'] = 'MSC'
df_progreso_msc['Status'] = df_progreso_msc['Status'].replace({
                                                                'Not started' : 'Not Started',
                                                                'In progress' : 'In Progress'
                                                               })
df_progreso_msc['Email Address'] = df_progreso_msc['Email Address'].str.lower().str.strip().str.replace('[^a-zA-Z@.]', '', regex=True)
df_progreso_msc['Progress (%)'] = df_progreso_msc['Progress (%)'].fillna(np.nan).astype('Int16')
df_progreso_msc['Enrolment Date'] = pd.to_datetime(df_progreso_msc['Enrolment Date']).dt.normalize()
df_progreso_msc['Completion Date'] = pd.to_datetime(df_progreso_msc['Completion Date']).dt.normalize()
df_progreso_msc['Start Date'] = pd.to_datetime(df_progreso_msc['Start Date']).dt.normalize()
df_progreso_msc['Creation date'] = pd.to_datetime(df_progreso_msc['Creation date']).dt.normalize()
df_progreso_msc['Last update'] = pd.to_datetime(df_progreso_msc['Last update']).dt.normalize()
df_progreso_msc = df_progreso_msc[final_feautres_dic_progreso_msc]

### Progreso_udemy

In [ ]:
df_progreso_udemy.rename(columns=rename_dic_progreso_udemy, inplace=True)
df_progreso_udemy['Name'] = df_progreso_udemy['First Name'] + " " + df_progreso_udemy['Last Name'] 
df_progreso_udemy['Email Address'] = df_progreso_udemy['Email Address'].str.lower().str.strip().str.replace('[^a-zA-Z@.]', '', regex=True)
df_progreso_udemy = df_progreso_udemy.merge(df_usuarios_msc[['Email Address', 'Cliente']], on='Email Address', how='left')
df_progreso_udemy['Catalogo'] = 'Udemy'
#df['Status'] = df['Progress (%)'].apply(lambda x: 'Completed' if x == 100 else ('Not Started' if pd.isnull(x) or x==0 else 'In Progress'))
df_progreso_udemy['Status'] = df_progreso_udemy['Progress (%)'].apply( lambda x: 'Completed' if x == 100 else ('Not Started' if pd.isnull(x) or x == 0 else 'In Progress'))
df_progreso_udemy['Progress (%)'] = df_progreso_udemy['Progress (%)'].fillna(np.nan).astype('Int16')
df_progreso_udemy['Enrolment Date'] = pd.to_datetime(df_progreso_udemy['Enrolment Date'], utc=True).dt.tz_localize(None).dt.normalize()
df_progreso_udemy['Start Date'] = pd.to_datetime(df_progreso_udemy['Start Date'], utc=True).dt.tz_localize(None).dt.normalize()
df_progreso_udemy['Completion Date'] = pd.to_datetime(df_progreso_udemy['Completion Date'], utc=True).dt.tz_localize(None).dt.normalize()
df_progreso_udemy['Date Last Active'] = pd.to_datetime(df_progreso_udemy['Date Last Active'], utc=True).dt.tz_localize(None).dt.normalize()
df_progreso_udemy = df_progreso_udemy[final_feautres_dic_progreso_udemy]

### Progreso_netzun

In [ ]:
def convert_to_minutes(time_string):
    h, m, s = map(int, time_string.split(':'))
    return h*60 + m + s/60

In [ ]:
df_progreso_netzun.rename(columns=rename_dic_progreso_netzun, inplace=True)
df_progreso_netzun['Cliente'] = df_progreso_netzun['Cliente'].replace(rename_dic_progreso_netzun_cliente)
df_progreso_netzun['Catalogo'] = 'Netzun'
#df_progreso_netzun['Status'] = df_progreso_netzun['Status'].apply(lambda x: 'Completed' if x == 'Completado con Certificado' or x == 'Completado' else ('Not Started' if x == 'No Iniciado' else 'In Progress' if x == 'En Progreso' else "") )
df_progreso_netzun['Status'] = df_progreso_netzun['Status'].replace({
                                                                        'Completado con Certificado' : 'Completed',
                                                                        'Completado' : 'Completed',
                                                                        'No Iniciado' : 'Not Started',
                                                                        'En Progreso' : 'In Progress' })
df_progreso_netzun['Progress (%)'] = df_progreso_netzun['Progress (%)'].str.replace('%', '').astype('Int16') 
#df_progreso_netzun['Progress (%)'] = df_progreso_netzun['Progress (%)'].str.replace('%', '').str.strip().replace('', np.nan).astype('Int16')
df_progreso_netzun['Learning Time (min)'] = df_progreso_netzun['Learning Time (min)'].apply(convert_to_minutes)
df_progreso_netzun['Completion Date'] = df_progreso_netzun.apply(
    lambda row: row['Date Last Active'] if row['Progress (%)'] == 100 else '', axis=1)
df_progreso_netzun['Email Address'] = df_progreso_netzun['Email Address'].str.lower().str.strip().str.replace('[^a-zA-Z@.]', '', regex=True)
df_progreso_netzun['Enrolment Date'] = pd.to_datetime(df_progreso_netzun['Enrolment Date'], format='%d/%m/%Y')
df_progreso_netzun['Completion Date'] = pd.to_datetime(df_progreso_netzun['Enrolment Date'], format='%d/%m/%Y')
df_progreso_netzun = df_progreso_netzun[final_feautres_dic_progreso_netzun]

## Create Progress DataFrame

In [ ]:
df_progreso_consolidado = pd.concat([df_progreso_msc, df_progreso_udemy,df_progreso_netzun], ignore_index=True)
df_progreso_consolidado['Date Last Active'] = pd.to_datetime(df_progreso_consolidado['Date Last Active'], format='%Y/%m/%d', errors='coerce')
df_progreso_consolidado['Date Last Active'] = df_progreso_consolidado['Date Last Active'].dt.date
df_progreso_consolidado['Creation date'] =df_progreso_consolidado['Creation date'].dt.date
df_progreso_consolidado['Last update'] =df_progreso_consolidado['Last update'].dt.date
df_progreso_consolidado['Enrolment Date'] =df_progreso_consolidado['Enrolment Date'].dt.date
df_progreso_consolidado['Start Date'] =df_progreso_consolidado['Start Date'].dt.date
df_progreso_consolidado['Completion Date'] =df_progreso_consolidado['Completion Date'].dt.date
df_progreso_consolidado.head(1)

,Email Address,Content ID,Content Type,Content Title,Categories,Camps Published,Content Provider,Creator,Trainer(s),Creation date,...,Learning Time (min),Score (%),Enrolment Date,Start Date,Completion Date,Cliente,Name,Catalogo,Date Last Active,ID Learner
0,juan.ochoa@griky.co,736231.0,Course,Patrimonio Turístico,Habilidades Profesionales,griky - catálogo completo,Griky,Lina Fernanda Romero Lara,NaN,2023-05-24,...,0.0,0.0,2023-05-29,2023-05-29,NaT,Alata,Juan Gabriel Ochoa Rodríguez,MSC,NaN,NaN

## Save

In [ ]:
#df_usuarios_udemy.to_excel('usuarios_udemy.xlsx', index=False)
#df_progreso_msc.to_excel(f'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Consolidado_Learner_Engagement/Progreso_MSC_{d1}.xlsx', index=False)

df_progreso_consolidado.to_excel(f'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/4.0 - Consolidado/Progreso/Progreso_MSC_{d1}.xlsx', index=False)
df_usuarios_msc.to_excel(f'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/4.0 - Consolidado/Usuarios/Usuarios_MSC_{d1}.xlsx', index=False)

KeyboardInterrupt: