## Import Section

In [67]:
import pandas as pd
import time
from datetime import datetime
from datetime import date
import os
import glob

## Config Section

In [108]:
#MSC
path = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
ruta_general = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
dataframes = []

#Udemy progress
path_udemy_course_activity = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Udemy_msc/User_course_activity/'

#Netzun progress
path_netzun_report_full_students = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Catálogos/Netzun/report_full_students/'

In [70]:
today = date.today()
d1 = today.strftime("%m-%d-%Y")

## Functions Section

In [71]:
def get_concatenated_files_msc(path, folder_name = 'Learner_overview', file_name= 'learner-overview', file_type = '.csv'):
    # path = Contains the path: "C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting"
    # folder_name = Name of the folder that contains the files
    # file_name = common part of the file to search
    # file_type = extension of the file: .csv, .xls, .xlsx
    dataframes = []
    for client_folder in os.listdir(path):
        path_cliente = os.path.join(path, client_folder, folder_name)
        if os.path.isdir(path_cliente):
            files = glob.glob(os.path.join(path_cliente, f'*-{file_name}-*{file_type}'))
            if files:
                # ordenar los archivos por la fecha en su nombre
                files.sort(key=lambda x: x.split(f'-{file_name}-')[-1], reverse=True)
                # abrir el archivo más reciente y cargarlo en un dataframe
                df = pd.read_csv(files[0])
                df = df.dropna(axis=0, how='all')
                df = df.dropna(axis=1, how='all')
                df['Cliente'] = client_folder
                # extract the date from the filename
                date_str = files[0].split(f'-{file_name}-')[1].split('-')[0:3]
                date_str = '-'.join(date_str)
                date = datetime.strptime(date_str, "%Y-%m-%d")
                df['fecha_archivo'] = date.date()
                # agregar el dataframe a la lista
                dataframes.append(df)
    df_final = pd.concat(dataframes)
    return df_final

In [72]:
def get_last_file(path, file_name, file_type, date_format = "%Y-%m-%d"):
    # Buscar todos los archivos que coinciden con el patrón en el directorio
    files = glob.glob(os.path.join(path, f'{file_name}_*{file_type}'))
    
    if not files:
        return None     # No se encontraron archivos
    
    # Ordenar los archivos por fecha y seleccionar el último
    files.sort(key=lambda x: datetime.strptime(x.split(f'{file_name}_')[-1].split('.')[0], date_format), reverse=True)
    
    # Lee el archivo en un pandas DataFrame
    if file_type == '.csv':
        df = pd.read_csv(files[0])
    elif file_type in ['.xlsx', '.xls']:
        df = pd.read_excel(files[0])
    else:
        print('File type not supported')
        return None

    return df  # Devuelve el DataFrame

## Get Dataframes

In [ ]:
# df_usuarios = get_concatenated_files_msc(path)
# df_usuarios.head(5)

In [87]:
df_progreso_msc = get_concatenated_files_msc(path = path, folder_name = 'Learner_engagement', file_name= 'learner-engagement')
df_progreso_msc.head(2)

,ID Learner,External ID Learner,Last Name,First Name,Email Address,Job Title,Department,City,Manager,Account type,...,Progress (%),Learning Time (min),Score (%),Enrolment Date,Start Date,Completion Date,Cliente,fecha_archivo,Certified,Certificate URL
0,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,0.0,0.0,0.0,2023-05-29 15:11:10,2023-05-29 15:11:39,NaN,Alata,2023-09-22,NaN,NaN
1,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,2.0,0.0,0.0,2023-05-30 22:43:01,2023-05-30 22:43:42,NaN,Alata,2023-09-22,NaN,NaN

In [111]:
df_progreso_msc.sample(1).T

                                                       351
ID Learner                                        269926.0
External ID Learner                                    NaN
Last Name                                           Rincón
First Name                                          Felipe
Email Address                    felipe007rincon@gmail.com
Job Title                                              NaN
Department                                             NaN
City                                                   NaN
Manager                                                NaN
Account type                                          user
Account Status                                      active
Last connection                        2023-03-06 18:15:46
Activation Date                        2023-09-12 21:25:55
Start date access                                      NaN
End date access                                        NaN
Subscription Status                                      Y
Subscription Current Status                              N
Content ID                                        407377.0
Content Type                                        Course
Training Type                                          NaN
Parent Content Reference                       GEN_EN_1112
Content Reference                              GEN_EN_1112
Content Title                              * Hello London!
Session Title                              * Hello London!
Categories                                             NaN
Camps Published                                        NaN
Content Provider                       CLL for Marketplace
Creator                                    Sébastien Pabst
Trainer(s)                                             NaN
Creation date                          2023-02-13 21:25:59
Last update                            2023-03-15 17:49:04
Skills                                                 NaN
Language                                                en
Estimated course duration (min)                       30.0
Status                                         Not started
Progress (%)                                           NaN
Learning Time (min)                                    0.0
Score (%)                                              NaN
Enrolment Date                         2023-03-06 18:18:32
Start Date                                             NaN
Completion Date                                        NaN
Cliente                                                Ccb
fecha_archivo                                   2023-09-22
Certified                                              NaN
Certificate URL                                        NaN
Name                                          FelipeRincón

In [112]:
df_progreso_udemy = get_last_file(path_udemy_course_activity, file_name= 'user_course_activity_report_griky-myskillcamp', file_type='.csv')
df_progreso_udemy.sample(10).head(2)

,User First Name,User Last Name,User Email,External ID,User Groups,Course ID,Course Title,Course Locale,Course Duration,% Marked Completed,Minutes Video Consumed,Date Enrolled,Date Started,First Date Completed,Date Completed,Date Last Active,Course Category,Assigned,Assigned By,User Is Deactivated
3736,NaN,NaN,shirleylugo1987@gmail.com,NaN,NaN,807730,Auditorias Internas de ISO 9001:2015,es_MX,176.0,100.0,35.75,2023-08-01 12:27:51+00:00,2023-08-01 13:26:32+00:00,2023-08-11 14:33:50+00:00,2023-08-11 14:33:50+00:00,2023-08-30,Operations Management,False,NaN,No
49,Anonymized User,Anonymized User,Anonymized User,Anonymized User,NaN,4152006,Python Django - Complete Course,en_US,1104.0,0.0,0.00,2022-12-09 16:07:31+00:00,NaN,NaN,NaN,2022-12-09,Web Development,False,NaN,Yes

In [105]:
df_progreso_netzun = get_last_file(path_netzun_report_full_students, file_name= 'report_full_students', file_type='.xlsx', date_format= "%m-%d-%Y")
df_progreso_netzun.sample(10).head(3)

,ID,Nombres y Apellidos,Email,Función,Curso,Inscripción del curso,Estado de curso,Lecciones Tomadas/Total Lecciones,Porcentaje de Progreso,Tiempo total,Puntaje Porcentaje,Fecha última lección,Fecha Deadline,Áreas,Código Interno,Filtro
8074,848311,Daniel Felipe Duque Camacho,duque.daniel@fuac.edu.co,Usuario,Buenas prácticas de UX,23/07/2023,Completado con Certificado,12/12,100%,1:08:33,70/100,10/08/2023,-,Autónoma,NaN,NaN
6953,851952,JASON ANTONIO ENAMORADO CERIN,1170650@usap.edu,Usuario,Implementando buenas prácticas de sostenibilidad,06/07/2023,No Iniciado,0/12,0%,0:00:00,-,-,01/02/2024,NaN,NaN,NaN
7586,734737,Miguel Ángel Ruiz Marmolejo,arcangelazul2517011@gmail.com,Usuario,HTML: Bootstrap,13/07/2023,Completado con Certificado,15/15,100%,3:00:13,80/100,14/07/2023,-,EANX,NaN,NaN

## Create Progress Data Frame

In [90]:
df_progreso_msc['Name'] = df_progreso_msc['First Name'] + " " + df_progreso_msc['Last Name']

In [110]:
df_progreso_msc.columns, df_progreso_netzun.columns, df_progreso_udemy.columns

(Index(['ID Learner', 'External ID Learner', 'Last Name', 'First Name',
        'Email Address', 'Job Title', 'Department', 'City', 'Manager',
        'Account type', 'Account Status', 'Last connection', 'Activation Date',
        'Start date access', 'End date access', 'Subscription Status',
        'Subscription Current Status', 'Content ID', 'Content Type',
        'Training Type', 'Parent Content Reference', 'Content Reference',
        'Content Title', 'Session Title', 'Categories', 'Camps Published',
        'Content Provider', 'Creator', 'Trainer(s)', 'Creation date',
        'Last update', 'Skills', 'Language', 'Estimated course duration (min)',
        'Status', 'Progress (%)', 'Learning Time (min)', 'Score (%)',
        'Enrolment Date', 'Start Date', 'Completion Date', 'Cliente',
        'fecha_archivo', 'Certified', 'Certificate URL', 'Name'],
       dtype='object'),
 Index(['ID', 'Nombres y Apellidos', 'Email', 'Función', 'Curso',
        'Inscripción del curso', 'Estado de curso',
        'Lecciones Tomadas/Total Lecciones', 'Porcentaje de Progreso',
        'Tiempo total', 'Puntaje Porcentaje', 'Fecha última lección',
        'Fecha Deadline', 'Áreas', 'Código Interno', 'Filtro'],
       dtype='object'),
 Index(['User First Name', 'User Last Name', 'User Email', 'External ID',
        'User Groups', 'Course ID', 'Course Title', 'Course Locale',
        'Course Duration', '% Marked Completed', 'Minutes Video Consumed',
        'Date Enrolled', 'Date Started', 'First Date Completed',
        'Date Completed', 'Date Last Active', 'Course Category', 'Assigned',
        'Assigned By', 'User Is Deactivated'],
       dtype='object'))

In [115]:
rename_dic_progreso_udemy = {
    #“old_column_name” : “new_column_name”
    'User First Name' : 'First Name', 
    'User Last Name' : 'Last Name', 
    'User Email' : 'Email Address', 
    #'External ID' : '',
    #'User Groups', 
    'Course ID' : 'Content ID' , 
    'Course Title' : 'Content Title', 
    #'Course Locale',
    'Course Duration' : 'Estimated course duration (min)', #revisar unidades
    '% Marked Completed' : 'Progress (%)', #modify units
    'Minutes Video Consumed' : 'Learning Time (min)', #modify units
    'Date Enrolled' : 'Enrolment Date', #Modify dates format
    'Date Started' : 'Start Date',  #Modify dates format
    #'First Date Completed',
    'Date Completed' : 'Completion Date',  #Modify dates format
    #'Date Last Active', 
    #'Course Category',  
    #'Assigned',
    #'Assigned By', 
    #'User Is Deactivated'


}

final_feautres_dic_progreso_udemy = [
    'First Name', 
    'Last Name', 
    'Email Address', 
    'Content ID' , 
    'Content Title', 
    'Estimated course duration (min)', #revisar unidades
    'Progress (%)', #modify units
    'Learning Time (min)', #modify units
    'Enrolment Date', #Modify dates format
    'Start Date',  #Modify dates format
    'Completion Date'
]



rename_dic_progreso_netzun = {
    #“old_column_name” : “new_column_name”
    
    "ID" : "ID Learner",
    'Nombres y Apellidos' : 'Name',
    'Email' : 'Email Address', 
    #'Función' : '', 
    'Curso' : 'Content Title',
    'Inscripción del curso' :  'Enrolment Date', 
    'Estado de curso' : 'Status',
    #'Lecciones Tomadas/Total Lecciones', 
    'Porcentaje de Progreso' : 'Progress (%)' ,  #Modificar unidades
    'Tiempo total' : 'Learning Time (min)' ,    # Pasar a minutos
    #'Puntaje Porcentaje', 
    #'Fecha última lección',
    #'Fecha Deadline', 
    'Áreas' : 'Cliente',  #Modificar nombres para que coincida 
    #'Código Interno', 
    #'Filtro'
}

final_feautres_dic_progreso_netzun = [
    #“old_column_name” : “new_column_name”
    
    "ID Learner",
    'Name',
    'Email Address', 
    'Content Title',
    'Enrolment Date', 
    'Status',
    'Progress (%)' ,  #Modificar unidades
    'Learning Time (min)' ,    # Pasar a minutos
    'Cliente',  #Modificar nombres para que coincida 
]

final_feautres_dic_progreso_msc = [
    'ID Learner',
    'Email Address',
    'Content ID', 
    'Content Type',
    'Training Type', 
    'Content Title', 
    'Session Title', 
    'Categories', 
    'Camps Published',
    'Content Provider', 
    'Creator', 
    'Trainer(s)', 
    'Creation date',
    'Last update', 
    'Skills', 
    'Language', 
    'Estimated course duration (min)',
    'Status', 
    'Progress (%)', 
    'Learning Time (min)', 
    'Score (%)',
    'Enrolment Date', 
    'Start Date', 
    'Completion Date', 
    'Cliente',
    'Name'
]

In [119]:
df_progreso_netzun.rename(columns=rename_dic_progreso_netzun, inplace=True)
df_progreso_netzun.head(3)

,ID Learner,Name,Email Address,Función,Content Title,Enrolment Date,Status,Lecciones Tomadas/Total Lecciones,Progress (%),Learning Time (min),Puntaje Porcentaje,Fecha última lección,Fecha Deadline,Cliente,Código Interno,Filtro
0,288861,Camilo Gil Hernández,camilo.gil155@gmail.com,Usuario,Analítica Digital,08/08/2020,No Iniciado,0/13,0%,0:00:00,-,-,-,EANX,NaN,NaN
1,288861,Camilo Gil Hernández,camilo.gil155@gmail.com,Usuario,Construcción de Lovemarks a través de Insights,09/08/2020,No Iniciado,0/31,0%,0:00:00,-,-,-,EANX,NaN,NaN
2,288861,Camilo Gil Hernández,camilo.gil155@gmail.com,Usuario,Marketing Personal para encontrar tu 1er trabajo,10/08/2020,No Iniciado,0/29,0%,0:00:00,-,-,-,EANX,NaN,NaN

## Save

In [81]:
#df_usuarios.to_excel('usuarios.xlsx', index=False)
df_progreso_msc.to_excel(f'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting/Griky/Fuente/Consolidado_Learner_Engagement/Progreso_MSC_{d1}.xlsx', index=False)