In [1]:
import pandas as pd
import time
from datetime import datetime
import os
import glob

In [2]:
path = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
ruta_general = 'C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting'
dataframes = []

In [4]:
def get_concatenated_files_msc(path, folder_name = 'Learner_overview', file_name= 'learner-overview', file_type = '.csv'):
    # path = Contains the path: "C:/Users/evanm/Documents/Griky_data/OneDrive - Griky/Documentos - Griky Dashboard/Reporting"
    # folder_name = Name of the folder that contains the files
    # file_name = common part of the file to search
    # file_type = extension of the file: .csv, .xls, .xlsx
    dataframes = []
    for client_folder in os.listdir(path):
        path_cliente = os.path.join(path, client_folder, folder_name)
        if os.path.isdir(path_cliente):
            files = glob.glob(os.path.join(path_cliente, f'*-{file_name}-*{file_type}'))
            if files:
                # ordenar los archivos por la fecha en su nombre
                files.sort(key=lambda x: x.split(f'-{file_name}-')[-1], reverse=True)
                # abrir el archivo más reciente y cargarlo en un dataframe
                df = pd.read_csv(files[0])
                df = df.dropna(axis=0, how='all')
                df = df.dropna(axis=1, how='all')
                df['Cliente'] = client_folder
                # extract the date from the filename
                date_str = files[0].split(f'-{file_name}-')[1].split('-')[0:3]
                date_str = '-'.join(date_str)
                date = datetime.strptime(date_str, "%Y-%m-%d")
                df['fecha_archivo'] = date.date()
                # agregar el dataframe a la lista
                dataframes.append(df)
    df_final = pd.concat(dataframes)
    return df_final

In [10]:
df_usuarios = get_concatenated_files_msc(path)
df_usuarios.head(5)

C:\Users\evanm\AppData\Local\Temp\ipykernel_11992\3943988448.py:15: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(files[0])
C:\Users\evanm\AppData\Local\Temp\ipykernel_11992\3943988448.py:15: DtypeWarning: Columns (9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(files[0])

,ID Learner,External ID Learner,Last Name,First Name,Email Address,Job Title,Department,City,Manager,Start date access,...,Last connection date,Camp Access,Registered to a content,Learning time spent (min),Content registrations,Content completions,Certifications obtained,Cliente,fecha_archivo,Current Skills
0,243409.0,NaN,Martinez,Sebastian,sebastian.martinez@griky.co,NaN,Griky,NaN,NaN,NaN,...,2023-09-19 16:09:18,"Griky - Catálogo completo, Cegos - Catálogo co...",Y,0.0,10.0,0.0,0.0,Alata,2023-09-20,NaN
1,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,NaN,...,2023-09-19 21:35:17,"Griky - Catálogo completo, Cegos - Catálogo co...",Y,425.0,10.0,2.0,0.0,Alata,2023-09-20,NaN
2,27728.0,NaN,Test,User 1 fr sans mail,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,N,0.0,0.0,0.0,0.0,Alata,2023-09-20,NaN
3,129920.0,NaN,Diaz,Andrea,andrea.diaz@griky.co,Fábrica de contenido,Griky,NaN,NaN,NaN,...,2023-09-19 16:30:35,"Griky - Catálogo completo, Cegos - Catálogo co...",Y,0.0,10.0,0.0,0.0,Alata,2023-09-20,NaN
4,129932.0,NaN,Santamaria,Ximena,ximena.santamaria@griky.co,NaN,Griky,NaN,NaN,NaN,...,2023-09-19 13:39:28,"Griky - Catálogo completo, Cegos - Catálogo co...",Y,0.0,10.0,0.0,0.0,Alata,2023-09-20,NaN

In [8]:
df_progreso = get_concatenated_files_msc(path = path, folder_name = 'Learner_engagement', file_name= 'learner-engagement')
df_progreso.head(5)

,ID Learner,External ID Learner,Last Name,First Name,Email Address,Job Title,Department,City,Manager,Account type,...,Progress (%),Learning Time (min),Score (%),Enrolment Date,Start Date,Completion Date,Cliente,fecha_archivo,Certified,Certificate URL
0,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,0.0,0.0,0.0,2023-05-29 15:11:10,2023-05-29 15:11:39,NaN,Alata,2023-09-20,NaN,NaN
1,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,2.0,0.0,0.0,2023-05-30 22:43:01,2023-05-30 22:43:42,NaN,Alata,2023-09-20,NaN,NaN
2,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,0.0,0.0,NaN,2023-04-18 15:10:24,2023-04-18 15:11:42,NaN,Alata,2023-09-20,NaN,NaN
3,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,NaN,0.0,NaN,2023-04-18 15:10:24,NaN,NaN,Alata,2023-09-20,NaN,NaN
4,243406.0,NaN,Ochoa Rodríguez,Juan Gabriel,juan.ochoa@griky.co,NaN,Griky,NaN,NaN,user,...,NaN,0.0,NaN,2023-04-18 15:10:24,NaN,NaN,Alata,2023-09-20,NaN,NaN

In [ ]:
# df_usuarios.to_excel(f'{path}/Griky/Fuente/Consolidado_Learner_Engagement/progreso')

In [12]:
df_usuarios.to_excel('usuarios.xlsx', index=False)
df_progreso.to_excel('progreso.xlsx', index=False)

In [7]:
# for client_folder in os.listdir(path):
#     path_cliente = f'{path}/{client_folder}/Learner-overview/'
#     print(path_cliente)
#     if os.path.isdir(path_cliente):
#         files= glob.glob(os.path.join(ruta_carpeta_cliente, '*-learner-overview-*.csv'))